<a href="https://colab.research.google.com/github/facahto/Analisis-Numerik/blob/main/bisection_example_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Example 1**

Kode di bawah dibentuk untuk mencari akar dari persamaan $f(x)=x^3+4x^2-10=0$ dimana akar tersebut berada pada interval $[1,2]$. Dalam file ini, *bisection method* digunakan untuk menentukan hampiran dari akar untuk persamaan di atas dengan akurasi di $10^{-4}$. Sebelum menjalankan program keseluruhan, inisialisasi parameter dilakukan terlebih dahulu. Adapun parameter yang diatur di awal adalah iterasi maksimum $k_{max}$, toleransi $TOL$, batas bawah $a$ dan batas atas $b$.

In [1]:
import pandas as pd

# function
def f(x):
  return (x**3) + 4*(x**2) - 10

# initialization
kmax = 50     # maximum number of iteration
TOL  = 1e-4   # tolerance to complete the whole procedure
a    = 1      # lower bound
b    = 2      # upper bound

Selanjutnya, program dibentuk berdasarkan langkah-langkah umum dari *bisection method*.

In [2]:

data = []
i    = 0
FA   = f(a)

while i<kmax:
  
  p  = a + (b-a)/2 #midpoint
  FP = f(p)

  if FP == 0 or (b-a)/2<TOL:
    break #stop

  out = [i+1,a,b,p,FP]
  data.append(out)  #output
  i   = i+1

  if FA*FP>0:
    a  = p
    FA = FP
  else:
    b=p

df = pd.DataFrame(data, columns=['Iterasi (n)', 'a_n','b_n','p','f(p)'])
display(df)

    Iterasi (n)       a_n       b_n         p      f(p)
0             1  1.000000  2.000000  1.500000  2.375000
1             2  1.000000  1.500000  1.250000 -1.796875
2             3  1.250000  1.500000  1.375000  0.162109
3             4  1.250000  1.375000  1.312500 -0.848389
4             5  1.312500  1.375000  1.343750 -0.350983
5             6  1.343750  1.375000  1.359375 -0.096409
6             7  1.359375  1.375000  1.367188  0.032356
7             8  1.359375  1.367188  1.363281 -0.032150
8             9  1.363281  1.367188  1.365234  0.000072
9            10  1.363281  1.365234  1.364258 -0.016047
10           11  1.364258  1.365234  1.364746 -0.007989
11           12  1.364746  1.365234  1.364990 -0.003959
12           13  1.364990  1.365234  1.365112 -0.001944