<a href="https://colab.research.google.com/github/facahto/Analisis-Numerik/blob/main/Bisection%20method/exercise_2_1_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 2.1.13** 

Find an approximation to $^3\sqrt{25}$ correct to within $10^{-4}$ using Bisection method.

In [3]:
import numpy as np
import pandas as pd

#Initialization
a    = 2        #lower bound
b    = 3        #upper bound
TOL  = (10**-4)
nmax = 50

#function
def f(x):
  return (x**3)-25

#main
data = []
i    = 0
FA   = f(a)

while i<nmax:
  
  p  = a + (b-a)/2 #midpoint
  FP = f(p)

  out = [i+1,a,b,p,FP]
  data.append(out)  #output
  i   = i+1

  if FP == 0 or (b-a)/2<TOL:
    break #stop

  if FA*FP>0:
    a  = p
    FA = FP
  else:
    b=p

  
df = pd.DataFrame(data, columns=['Iterasi (n)', 'a_n','b_n','p_n','f(p_n)'])
display(df)
print(f'RESULT p_{i} = {p}')

    Iterasi (n)       a_n       b_n       p_n    f(p_n)
0             1  2.000000  3.000000  2.500000 -9.375000
1             2  2.500000  3.000000  2.750000 -4.203125
2             3  2.750000  3.000000  2.875000 -1.236328
3             4  2.875000  3.000000  2.937500  0.347412
4             5  2.875000  2.937500  2.906250 -0.452972
5             6  2.906250  2.937500  2.921875 -0.054920
6             7  2.921875  2.937500  2.929688  0.145710
7             8  2.921875  2.929688  2.925781  0.045261
8             9  2.921875  2.925781  2.923828 -0.004863
9            10  2.923828  2.925781  2.924805  0.020190
10           11  2.923828  2.924805  2.924316  0.007662
11           12  2.923828  2.924316  2.924072  0.001399
12           13  2.923828  2.924072  2.923950 -0.001732
13           14  2.923950  2.924072  2.924011 -0.000167

RESULT p_14 = 2.92401123046875